

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-content class="background">
    
    <div class="kategori" align="center">CEP KİTABIM</div><br><br>
    <div class="icerik" align="center">Şifremi Değiştir</div><br>
    <div class="icerik" align="center">Kitaplarım</div><br>
    <div class="icerik" align="center">Favorilerim</div><br>
    <div class="icerik" align="center">Mesajlarım</div><br>
    <div class="icerik" align="center">Çıkış Yap</div>

    
  
 
    
</ion-content> 


  <div style="position: absolute; bottom: 0px; width: 100%">
      <div style="text-align: center">
        <ion-col >
          <div align="center"><img class="logo" src="/assets/logo.png" > </div> 
        </ion-col>
      </div>
  </div>

