<ion-toolbar padding class="background">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
<ion-content padding class="background">

    <ion-grid>
        <ion-row>
  
          <ion-col >
              <img class="yon ion-float-start" src="/assets/sol.png" >
          </ion-col>
          
          <ion-col>
              
          </ion-col>

          <ion-col>
              <img class="yon ion-float-end" src="/assets/not.png" >
          </ion-col>
          
        </ion-row>
      </ion-grid>
    
    <div class="transbox">
        <div style="font-size: 22px;">Soru: 1/100 </div>
        Aşşağıdaki padişahlardan hangisi İstanbul'u feth etmiştir ?  
    </div>

    <div class="transbox"> 
       
  
          <label class="container">Yavuz Sultan Selim
              <input type="radio" checked="checked" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="container">IV. Murad
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="container">II. Abdülhamid
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="container">Fatih Sultan Mehmed
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="container">Yıldırım Beyazıd
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>    
  
      </div>

      
  
</ion-content>

<div style="position: absolute; bottom: 0px; width: 100%">      
  <ion-grid>
    <ion-row>

      <ion-col >
          <img class="yon ion-float-start" src="/assets/sol.png" >
      </ion-col>
      
      <ion-col>
          <div align="center"><img class="logo" src="/assets/logo.png" > </div> 
      </ion-col>

      <ion-col>
          <img class="yon ion-float-end" src="/assets/sag.png" >
      </ion-col>
      
    </ion-row>
  </ion-grid>
</div>

