<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <div style="text-align: center">
    <ion-col >
      <div align="center"><img class="logo" src="/assets/logo.png" > </div> 
    </ion-col>
  </div>

  <div class="kategori" align="center">Cep Kitabım</div>
  <br>
  <div align="center">
    <ion-item class="giris">
      <ion-input placeholder="Telefon Numarası"></ion-input>
    </ion-item>
  </div>
  <br>  
  <div align="center">
    <ion-item class="giris">
      <ion-input placeholder="Şifre"></ion-input>
    </ion-item>
  </div>
  <br>
  <div align="center">
    <ion-button class="girisbuton" shape="round" size="small" color="success">Giriş Yap</ion-button>
  </div>
  <br>
  <div align="center"><img class="girisbuton"  id="fb"src="/assets/fb.png" > </div>
  <br>
  <div align="center"><img  class="girisbuton" id="ggl" src="/assets/ggl.png" > </div>

  <br>
  
  <div align="center">
      <ion-button class="girisbuton" shape="round" size="small" color="success">Kayıt Ol <ion-icon ios="ios-add" md="md-add"></ion-icon> </ion-button>
  </div>










  
</ion-content>

<!-- 
<div style="position: absolute; bottom: 0px; width: 100%">
<div style="text-align: center">
  <ion-col >
    <div align="center"><img class="logo" src="/assets/logo.png" > </div> 
  </ion-col>
</div>
</div> -->

