

<ion-content padding class="background">
    <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
              <ion-back-button defaultHref="/kitap"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
  
  <h1 class="kategori" align="center" style="color: white">{{loadedKitap.isim}}</h1>

  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label>
              <ion-img [src]="loadedKitap.resim"></ion-img>
            </ion-label>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  
<ion-item> {{loadedKitap.aciklama}}</ion-item>
     

   

  
</ion-content> 



