

<ion-content padding class="background">
  <ion-item>
    <ion-back-button defaultHref="/kitap"></ion-back-button>
  </ion-item> 
  <br>
  <h1 class="kategori" align="center">{{loadedKitap.isim}}</h1><br><br>

  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-item>
            <ion-label>
              <ion-img [src]="loadedKitap.resim"></ion-img>
            </ion-label>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  
<ion-item> {{loadedKitap.aciklama}}</ion-item>
     

   

  
</ion-content> 



