
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
    

    <!-- <img class="yanmenu" src="/assets/6.png" >
  <br> -->
    <ion-card class="ara">
      <ion-searchbar  placeholder="Kitap,Yazar,Kategori.."></ion-searchbar>
    </ion-card>
    
    <div class="kategori" align="center">KATEGORİLER</div>
          
    <ion-grid>
      <ion-row>

        <ion-col>
          <img  src="/assets/io.png" ><br><br>
          <img  src="/assets/oo.png" >
        </ion-col>
        
        <ion-col>
          <img src="/assets/lgs.png" >
        </ion-col>
        
      </ion-row>
    </ion-grid>
    
  
    
</ion-content>


<div style="position: absolute; bottom: 0px; width: 100%">
  <div style="text-align: center">
    <ion-col >
      <div align="center"><img class="logo" src="/assets/logo.png" > </div> 
    </ion-col>
  </div>
</div>

