

ion-header {
  --background: rgba(0,0,0,0);
  --border-color: rgba(0,0,0,0);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}
ion-toolbar {
  --background: rgba(0,0,0,0);
  --border-color: rgba(0,0,0,0);
}
ion-content.background{
  --background: url(../../assets/a.png) 0 0/100% 100% no-repeat;
}
.yanmenu{
  width : 35px;
  height : 35px;
}
.ara{
  background-color: #b1b1b1;
}
.kategori{
  font-size: 150%;
  color: white;   
}

.logo{
  width : 83px;
  height : 113px;
}
