<ion-content padding class="background">
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <div class="kategori" align="center">KİTAPLAR</div>

  <ion-grid>
    <ion-row *ngFor="let kitap of Kitaplar" [routerLink]="'./'+ kitap.id ">

      <ion-col>
        <ion-img  [src]="kitap.resim " ></ion-img> 
      </ion-col>
      
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div class="l_icerik" ><img  class ="icon" src="/assets/dl.png" ></div><br>
              <div class="l_icerik" ><img  class ="icon" src="/assets/like.png" ></div><br>
              <div class="l_icerik" ><img  class ="icon" src="/assets/cmnt.png" ></div><br>
              <div class="l_icerik" ><img  class ="icon" src="/assets/tl.png" ></div><br>
              
            </ion-col>
            <ion-col size="9"> 
                <div class="icerik" > {{kitap.bilgiler[0]}} İndirme</div><br>
                <div class="icerik" >  {{kitap.bilgiler[1]}} Beğeni</div><br>
                <div class="icerik" > {{kitap.bilgiler[2]}} Yorum</div><br>
                <div class="icerik" > {{kitap.bilgiler[3]}} Fiyat</div><br>
                
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button size="small" color="primary">Satın Al</ion-button>       
      </ion-col>
      
    </ion-row>
  </ion-grid>

  

   

  
</ion-content> 


<div style="position: absolute; bottom: 0px; width: 100%">
    <div style="text-align: center">
      <ion-col >
        <div align="center"><img class="logo" src="/assets/logo.png" > </div> 
      </ion-col>
    </div>
</div>